services:
  keycloak:
    image: elczar/clase-11380-keycloak:1.0
    container_name: keycloak-app
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false
    ports:
      - "8180:8080"
    command:
      - start-dev
      - --import-realm
      - --http-enabled=true
      - --hostname-strict=false
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/localhost/8080 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  microservicio-perfil:
    image: elczar/clase-11380-microservicio-perfil:1.0
    container_name: microservicio-perfil-app
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/microservices-ecosystem
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-ecosystem/protocol/openid-connect/certs
      - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
    depends_on:
      keycloak:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge

volumes:
  keycloak_data: